<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Cyber Security Awareness</title>
</head>

<body>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    <tr>
      <td align="center" bgcolor="#ffffff" style="padding: 40px 153px 30px 0;">
        <img src="cid:secureAZ" alt="SecureAZ Logo"  >
      </td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td>
              <p>Hi! Your Cyber Security Awareness training is almost due.</p>
              <p>Your username is: user_name</p>
              
              <p>Access your course here:<a href="verify_email_link" target="_blank" style="text-decoration: underline !important; color: #00CCFF !important;">verify_email_link</a> </p>
           
                    
              <p>Best,<br>Customer Manager</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#f4f4f4" style="padding: 30px 30px 30px 30px;">
        <p>Everything you need for Cyber Security Training</p>
        <p>Copyright © Cyber Security Awareness, All rights reserved.</p>
      </td>
    </tr>
  </table>
</body>

</html>